.wrapperPlayer {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
}

.safeArea {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  position: absolute;
}

img {
  height: 50%;
}

.logs {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
  overflow-y: auto;
}

.playerBuffer {
  background-color: red;
}